<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,246}}</string>
                <key>sourceSize</key>
                <string>{126,246}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{155,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,230}}</string>
                <key>sourceSize</key>
                <string>{155,230}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,234},{17,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,60}}</string>
                <key>sourceSize</key>
                <string>{17,60}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,136},{50,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,112}}</string>
                <key>sourceSize</key>
                <string>{50,112}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{169,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,119}}</string>
                <key>sourceSize</key>
                <string>{169,119}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,143},{24,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,78}}</string>
                <key>sourceSize</key>
                <string>{24,78}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,136},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{66,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,125}}</string>
                <key>sourceSize</key>
                <string>{66,125}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,173},{80,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,138}}</string>
                <key>sourceSize</key>
                <string>{80,138}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{65,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,145}}</string>
                <key>sourceSize</key>
                <string>{65,145}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{79,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,148}}</string>
                <key>sourceSize</key>
                <string>{79,148}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,198},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{107,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,171}}</string>
                <key>sourceSize</key>
                <string>{107,171}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{65,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,145}}</string>
                <key>sourceSize</key>
                <string>{65,145}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{66,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,139}}</string>
                <key>sourceSize</key>
                <string>{66,139}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,149},{83,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,134}}</string>
                <key>sourceSize</key>
                <string>{83,134}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,70},{64,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,125}}</string>
                <key>sourceSize</key>
                <string>{64,125}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{194,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,120}}</string>
                <key>sourceSize</key>
                <string>{194,120}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,198},{50,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,112}}</string>
                <key>sourceSize</key>
                <string>{50,112}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,175},{79,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,148}}</string>
                <key>sourceSize</key>
                <string>{79,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullets.png</string>
            <key>size</key>
            <string>{1049,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef8d2e106280575904cdd180b5977b06:1/1$</string>
            <key>textureFileName</key>
            <string>bullets.png</string>
        </dict>
    </dict>
</plist>
